<nav class = "navbar">
  <div class="container">
    <a class = "navbar-brand" href = "#"> 
      <img 
        src = "../../assets/logo.png" 
        width="50"
        alt = "logo" class = "logo" 
        onmouseover="this.src='../../assets/logo.png';" 
        onmouseout="this.src='../../assets/logo.png';"
      >
    </a>
    <ul class = "nav navbar-nav">
      <li><a href = "#">Home</a></li>
      <li><a href = "#">About</a></li>
      <li><a href = "#">Contact</a></li>
    </ul>
  </div>
</nav>